<h3>Exam Started!!!</h3>
<p>
&nbsp;    1.Read All Question Carefully.<br>
&nbsp;    2.Electronics devices are strictly Prohibited.<br>
&nbsp;    3.Cheating is unacceptable behaviour for prefessionals and will <br>
&nbsp;&nbsp;&nbsp;not be Tolerated.
</p>
<h2 style="text-align:center;">{{displayTimeElapsed()}}<h2>
<form #examForm="ngForm" (ngSubmit)="Evaluate(examForm)">
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead> 
       
        <tbody *ngFor="let question of questions;index as i" style="text-align: left">
            <div class="navbar navbar-custom" id="rcorners1">
                <tr>
                    <td colspan="2" style="font-size: 30px">Q. {{question.question}}</td>
                </tr>
                <tr>
                    <td style="width: 50% ;font-size: 25px"><input ngModel type="radio" value="op1" name="{{i}}">{{question.op1}}</td>
                    <td style="width: 50% ;font-size: 25px"><input ngModel type="radio" value="op2" name="{{i}}">{{question.op2}}</td>
                </tr>
                <tr>
                    <td style="width: 50% ;font-size: 25px"><input ngModel type="radio" value="op3" name="{{i}}">{{question.op3}}</td>
                    <td style="width: 50% ;font-size: 25px"><input ngModel type="radio" value="op4" name="{{i}}">{{question.op4}}</td>
                </tr>
                <br>
            </div>
        </tbody>
    </table>
   
  
    <div> 
      <button type="submit" class="btn btn-primary">Submit Test</button>
       
    </div>
</div>
</form>

<!-- <h3>Exam Started!!!</h3>
<p>
&nbsp;    1.Read All Question Carefully.<br>
&nbsp;    2.Electronics devices are strictly Prohibited.<br>
&nbsp;    3.Cheating is unacceptable behaviour for prefessionals and will <br>
&nbsp;&nbsp;&nbsp;not be Tolerated.
</p>
<h2 style="text-align:center;">{{displayTimeElapsed()}}<h2>
<form #examForm="ngForm" (ngSubmit)="Evaluate(examForm)">
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead> 
        <tbody *ngFor="let question of questions;index as i">
            <tr>
                <td colspan="2">{{question.question}}</td>
            </tr>
            <tr>
                <td><input ngModel type="radio" value="op1{{i}}" name="{{i}}">{{question.op1}}</td>
                <td><input ngModel type="radio" value="op2{{i}}" name="{{i}}">{{question.op2}}</td>
            </tr>
            <tr>
                <td><input ngModel type="radio" value="op3{{i}}" name="{{i}}">{{question.op3}}</td>
                <td><input ngModel type="radio" value="op4{{i}}" name="{{i}}">{{question.op4}}</td>
            </tr>
        </tbody>
    </table>
    <div> 
      <button type="submit" class="btn btn-primary">Submit Test</button>
       
    </div>
</div>
</form> -->

