
<h1>About us</h1>   


<div>
   <p>ONLINE EXAMINATION SYSTEM is committed to providing the next level of user-friendly</p>   
   <p>exam management system. Our aim is to simplify the assessment processes both for the examiner</p>
   <p>and for the examinee by enhancing the ease of use and provide user satisfaction than any other</p>
   <p> online examination system. In this process, the system provides accurate and quick feedback and reports.</p>
   <p> Our online assessment software not only saves the time, but also increasers the accuracy of results almost instantaneously.</p>
   <p> It also provides feedback to examinees automatically and saves paperwork.</p>
</div>
