<div style="left: 200px">
    <div  class="navbar-custom2" id="rcorners2" style="text-align: center;align-items: center;align-content: center;">
            <h2>List Of Students</h2>
            
    </div>
    </div>
    <br>
    <br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Date Of Birth</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Address</th>
                <th>EduType</th>
                <th>Year Of Passout</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of Students">
                <td>{{student.sid}}</td>
                <td>{{student.stuName}}</td>
                <td>{{student.age}}</td>
                <td>{{student.dob}}</td>
                <td>{{student.contactNo}}</td>
                <td>{{student.email}}</td>
                <td>{{student.stuAddr}}</td>
                <td>{{student.educationType}}</td>
                <td>{{student.year}}</td>
            </tr>
        </tbody>
    </table>
</div>
