<form #myForm="ngForm" (ngSubmit)="OnAddCallMe(myForm)">
        <legend>Enter ur role</legend>
    
        <!-- <div class="form-group">
            <label for="No">No</label>
            <input ngModel type="text" class="form-control" id="No" name="No" placeholder="Enter No">
        </div>
     -->
     
     <div class="table-responsive">
         <table class="table table-hover">
                 <tr>
                     <td style="width: 25%"></td>
                     <td>

                            <div class="form-group" style="width:700px;align-content: center;align-items: baseline">
                                <label for="profile">Select Profile</label>
                                <select name="profile"  class="form-control"  id="profile" ngModel>
                        
                                    <option value="">--Select--</option>
                                
                                    <option value="STUDENT">STUDENT</option>
                                    
                                    <option value="INSTITUTE_PERSON">INSTITUTE_PERSON</option>
                                    
                                    </select>  
                            </div>
                            <button  type="submit" class="btn btn-primary">Add Member</button>

                     </td>
                     <td style="width: 20%"></td>
                 </tr>
         </table>
     </div>
     
<!--     
        <div class="form-group">
            <label for="Age">Age</label>
            <input ngModel type="text" class="form-control" id="Age" name="Age" placeholder="Enter Age">
        </div> -->
    
     
        <br>
</form>
